<section class="container text-center">
<h1>Editar Tweet</h1>
<br>

<%= render "form", tweet: @tweet %>

<br>

<div>
  <%= link_to "Show this tweet", @tweet %> |
  <%= link_to "Back to tweets", tweets_path %>
</div>
</section>
